EU_events.json
{"flowContents":{"identifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","instanceIdentifier":"b3197a9a-0190-1000-ffff-ffffa45d6230","name":"EU events","comments":"","position":{"x":344.0,"y":296.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ad4715f8-683e-3516-a9a1-ccefbf52a2cc","instanceIdentifier":"88073d19-90e4-198d-aa45-69c6268b4a43","name":"VictimParty","comments":"","position":{"x":1912.0,"y":1624.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","put-db-record-catalog-name":"albion","put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"0d6c245e-e2c8-3a19-a560-7081552f12c0","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"Generic","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"VictimParty","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"0","put-db-record-record-reader":"5d793993-0670-33c7-99e5-4e08c11f9c83","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"7fc19114-f8e4-34f8-bbd2-702d11f90d82","instanceIdentifier":"baa3eb56-0190-1000-0000-000031d96ee1","name":"EvaluateJsonPath","comments":"","position":{"x":584.0,"y":72.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","shift":"$[0].shift","Null Value Representation":"empty string","uri":"$[0].uri","Path Not Found Behavior":"ignore","EventId.Saved":"$[0].EventId"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"shift":{"name":"shift","displayName":"shift","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"uri":{"name":"uri","displayName":"uri","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"EventId.Saved":{"name":"EventId.Saved","displayName":"EventId.Saved","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"bbeb4576-d5d2-3e81-9d5b-50c367c23d2e","instanceIdentifier":"b8ac9235-0190-1000-ffff-ffffdf44e092","name":"Extract Event","comments":"","position":{"x":1024.0,"y":1008.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Destination":"flowfile-content","Return Type":"json","Event":"$.Event","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Event":{"name":"Event","displayName":"Event","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"bc948952-cec5-38d2-9d75-06289700ebc0","instanceIdentifier":"b8643513-0190-1000-0000-0000166a8896","name":"Extract Victim Group","comments":"","position":{"x":1912.0,"y":712.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Destination":"flowfile-content","Return Type":"auto-detect","VictimGroup":"$.VictimGroup","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"VictimGroup":{"name":"VictimGroup","displayName":"VictimGroup","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"ca3a3051-3bec-3dd3-882d-e49d9a010100","instanceIdentifier":"babe6d55-0190-1000-0000-00000c3f51c8","name":"KillerParty","comments":"","position":{"x":1496.0,"y":1832.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","put-db-record-catalog-name":"albion","put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"0d6c245e-e2c8-3a19-a560-7081552f12c0","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"Generic","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"KillerParty","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"0","put-db-record-record-reader":"5d793993-0670-33c7-99e5-4e08c11f9c83","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"89012bda-69c3-322d-a6db-2aa4cf20a31c","instanceIdentifier":"b8623e7e-0190-1000-0000-0000296b121a","name":"Extract Killer Group","comments":"","position":{"x":1496.0,"y":1008.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Destination":"flowfile-content","Return Type":"auto-detect","Null Value Representation":"empty string","KillerGroup":"$.KillerGroup","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"KillerGroup":{"name":"KillerGroup","displayName":"KillerGroup","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"5bee1968-a22a-3660-b088-ab98c1ab0aa7","instanceIdentifier":"baa15722-0190-1000-ffff-ffff82deae91","name":"ExecuteSQLRecord","comments":"","position":{"x":584.0,"y":-160.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"759ee663-8f5a-3b56-8e94-5314ced4ede3","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"0d6c245e-e2c8-3a19-a560-7081552f12c0","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select \n'https://gameinfo-ams.albiononline.com/api/gameinfo/events?limit=50&offset=' as uri,\ncast(max(EventId) as Int64) as EventId,\n0 as shift from albion.Events","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"32f53cb4-fb26-3b18-b384-e4185b5cadf9","instanceIdentifier":"b858ca9d-0190-1000-ffff-ffffe8ce305c","name":"JoltTransformJSON","comments":"","position":{"x":1256.0,"y":712.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"jolt-spec":"[{\"operation\":\"shift\",\"spec\":{\"groupMemberCount\":\"Event.groupMemberCount\",\"numberOfParticipants\":\"Event.numberOfParticipants\",\"EventId\":\"Event.EventId\",\"TimeStamp\":\"Event.TimeStamp\",\"BattleId\":\"Event.BattleId\",\"KillArea\":\"Event.KillArea\",\"Killer\":{\"Name\":\"Event.KillerName\",\"Id\":\"Event.KillerId\",\"GuildId\":\"Event.KillerGuildId\"},\"Victim\":{\"Name\":\"Event.VictimName\",\"Id\":\"Event.VictimId\",\"GuildId\":\"Event.VictimGuildId\",\"Inventory\":{\"@(2,EventId)\":\"VictimInventory.EventId\",\"*\":\"VictimInventory.Inventory.\"}},\"Participants\":{\"*\":{\"@\":\"KillerGroup[&].\",\"@(2,EventId)\":\"KillerGroup[&].EventId\"}},\"GroupMembers\":{\"*\":{\"@\":\"VictimGroup[&].\",\"@(2,EventId)\":\"VictimGroup[&].EventId\"}}}}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"1609860c-39e3-3d77-9348-2265764566e4","instanceIdentifier":"b85c0c88-0190-1000-0000-000021e770fc","name":"SplitJson","comments":"","position":{"x":1184.0,"y":496.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"d99d7fde-3b40-3f53-9bf9-19a6c51e8626","instanceIdentifier":"b8b1422a-0190-1000-ffff-ffffd4e45904","name":"SplitJson","comments":"","position":{"x":1496.0,"y":1216.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"5816c644-ff59-3f19-bb6f-e386df3df362","instanceIdentifier":"babcde94-0190-1000-0000-00004e4b4dc5","name":"JoltTransformJSON","comments":"","position":{"x":1496.0,"y":1424.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"jolt-spec":"[{\"operation\":\"shift\",\"spec\":{\"EventId\":\"EventId\",\"Name\":\"Name\",\"Id\":\"Id\",\"GuildName\":\"GuildName\",\"GuildId\":\"GuildId\",\"DamageDone\":\"DamageDone\",\"SupportHealingDone\":\"SupportHealingDone\",\"Equipment\":{\"*\":{\"Type\":\"&1.\"}}}}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"4ab90ba2-c237-3dfb-84c0-6e55595bc30c","instanceIdentifier":"bac8ca1d-0190-1000-0000-0000340edccb","name":"SplitJson","comments":"","position":{"x":1912.0,"y":1008.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"c0016328-bf4e-3f74-9bcb-821fbcb36a02","instanceIdentifier":"b8d8af2e-0190-1000-ffff-ffff8cde136d","name":"Events","comments":"","position":{"x":1024.0,"y":1624.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","put-db-record-catalog-name":"albion","put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"0d6c245e-e2c8-3a19-a560-7081552f12c0","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"Generic","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"Events","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"5d793993-0670-33c7-99e5-4e08c11f9c83","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"629b8b27-4f7a-3337-9244-3beae816a21e","instanceIdentifier":"b31cee3f-0190-1000-0000-00005532f7ab","name":"EvaluateJsonPath","comments":"","position":{"x":584.0,"y":800.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","EventId.maxvalue":"$.maxvalue","Null Value Representation":"empty string","EventId.minvalue":"$.minvalue","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"EventId.maxvalue":{"name":"EventId.maxvalue","displayName":"EventId.maxvalue","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"EventId.minvalue":{"name":"EventId.minvalue","displayName":"EventId.minvalue","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"f749178a-88fa-35c9-8571-dee114602d7f","instanceIdentifier":"ba856e84-0190-1000-0000-00006678443f","name":"MergeRecord","comments":"","position":{"x":1024.0,"y":1424.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"max-bin-age":"60 sec","correlation-attribute-name":null,"Attribute Strategy":"Keep All Unique Attributes","min-records":"1000","max-bin-size":null,"record-writer":"759ee663-8f5a-3b56-8e94-5314ced4ede3","merge-strategy":"Bin-Packing Algorithm","record-reader":"5d793993-0670-33c7-99e5-4e08c11f9c83","max-records":"10000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"50424722-297d-3eda-bd58-7f9ecf2a66b3","instanceIdentifier":"7404346d-3830-1083-0000-00002c09a088","name":"MergeRecord","comments":"","position":{"x":1912.0,"y":1424.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"max-bin-age":null,"correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"1000","max-bin-size":null,"record-writer":"759ee663-8f5a-3b56-8e94-5314ced4ede3","merge-strategy":"Bin-Packing Algorithm","record-reader":"5d793993-0670-33c7-99e5-4e08c11f9c83","max-records":"10000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"65f4f526-66cc-3e8d-9ab7-d77a87884ed5","instanceIdentifier":"ba812897-0190-1000-ffff-ffffc3c49b66","name":"UpdateRecord","comments":"","position":{"x":1024.0,"y":1216.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"/Sign":"1","/TimeStamp":"${field.value:substring(0,19):replace('T',' ')}","record-writer":"759ee663-8f5a-3b56-8e94-5314ced4ede3","record-reader":"5d793993-0670-33c7-99e5-4e08c11f9c83","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"/Sign":{"name":"/Sign","displayName":"/Sign","identifiesControllerService":false,"sensitive":false},"/TimeStamp":{"name":"/TimeStamp","displayName":"/TimeStamp","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"dfe06323-9f0b-3df8-b305-c1d124b5f409","instanceIdentifier":"b319a0a6-0190-1000-ffff-ffffa95e5b36","name":"InvokeHTTP","comments":"","position":{"x":584.0,"y":296.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"10 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${uri}${shift}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"60 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"8c71762e-69fa-398c-8d35-e749a2c21cb1","instanceIdentifier":"b33515f7-0190-1000-0000-00006ba6e9e1","name":"UpdateAttribute","comments":"","position":{"x":-24.0,"y":696.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","shift":"${shift:plus(50)}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"shift":{"name":"shift","displayName":"shift","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"47d71a84-a57e-3bd3-8a14-1ee8d8fc2ac1","instanceIdentifier":"b31e9671-0190-1000-ffff-ffff92716358","name":"RouteOnAttribute","comments":"","position":{"x":584.0,"y":1096.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Routing Strategy":"Route to Property name","IF":"${EventId.Saved:le(${EventId.minvalue}):and(${shift:le(1000)})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"IF":{"name":"IF","displayName":"IF","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"042a43f8-f60d-3173-b98a-1574f4555273","instanceIdentifier":"b31a8246-0190-1000-ffff-ffffec0ab904","name":"JoltTransformJSON","comments":"","position":{"x":584.0,"y":560.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"EventId\": \"EventId[]\"\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"minvalue\": \"=min(@(1,EventId))\",\n\t  \"maxvalue\": \"=max(@(1,EventId))\"\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"c9435710-3f9b-328c-8de3-ab3fa931014b","instanceIdentifier":"babe4190-0190-1000-0000-00001c7346d5","name":"MergeRecord","comments":"","position":{"x":1496.0,"y":1624.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"max-bin-age":null,"correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"1000","max-bin-size":null,"record-writer":"759ee663-8f5a-3b56-8e94-5314ced4ede3","merge-strategy":"Bin-Packing Algorithm","record-reader":"5d793993-0670-33c7-99e5-4e08c11f9c83","max-records":"10000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"6dd63839-b162-39a7-a459-2881f457bd3e","instanceIdentifier":"baca36ee-0190-1000-ffff-ffffa5f6724a","name":"JoltTransformJSON","comments":"","position":{"x":1912.0,"y":1216.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"jolt-spec":"[{\"operation\":\"shift\",\"spec\":{\"EventId\":\"EventId\",\"Name\":\"Name\",\"Id\":\"Id\",\"GuildName\":\"GuildName\",\"GuildId\":\"GuildId\",\"DamageDone\":\"DamageDone\",\"SupportHealingDone\":\"SupportHealingDone\",\"Equipment\":{\"*\":{\"Type\":\"&1.\"}}}}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ef7a8bd7-76d1-35d1-8b67-37eb3a98295a","instanceIdentifier":"b8611293-0190-1000-ffff-ffffad78c964","name":"","source":{"id":"32f53cb4-fb26-3b18-b384-e4185b5cadf9","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"b858ca9d-0190-1000-ffff-ffffe8ce305c"},"destination":{"id":"bbeb4576-d5d2-3e81-9d5b-50c367c23d2e","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"Extract Event","comments":"","instanceIdentifier":"b8ac9235-0190-1000-ffff-ffffdf44e092"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"79e98476-1689-391f-b246-858737fb2a09","instanceIdentifier":"b8644eda-0190-1000-0000-00001469d731","name":"","source":{"id":"32f53cb4-fb26-3b18-b384-e4185b5cadf9","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"b858ca9d-0190-1000-ffff-ffffe8ce305c"},"destination":{"id":"bc948952-cec5-38d2-9d75-06289700ebc0","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"Extract Victim Group","comments":"","instanceIdentifier":"b8643513-0190-1000-0000-0000166a8896"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"fe869021-cbc9-3347-b1dd-c2f4400e3ba3","instanceIdentifier":"b8ad8616-0190-1000-0000-00004329ca58","name":"","source":{"id":"bbeb4576-d5d2-3e81-9d5b-50c367c23d2e","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"Extract Event","comments":"","instanceIdentifier":"b8ac9235-0190-1000-ffff-ffffdf44e092"},"destination":{"id":"65f4f526-66cc-3e8d-9ab7-d77a87884ed5","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"UpdateRecord","comments":"","instanceIdentifier":"ba812897-0190-1000-ffff-ffffc3c49b66"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"66eb959e-bfee-35f8-9ae9-f166205f37e9","instanceIdentifier":"baa19dff-0190-1000-ffff-ffff8eb7afb9","name":"","source":{"id":"5bee1968-a22a-3660-b088-ab98c1ab0aa7","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"baa15722-0190-1000-ffff-ffff82deae91"},"destination":{"id":"7fc19114-f8e4-34f8-bbd2-702d11f90d82","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"baa3eb56-0190-1000-0000-000031d96ee1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"5e51fa43-e02b-3656-8889-40c8de3d65cf","instanceIdentifier":"ba859a25-0190-1000-0000-00002bd2092a","name":"","source":{"id":"f749178a-88fa-35c9-8571-dee114602d7f","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"MergeRecord","comments":"","instanceIdentifier":"ba856e84-0190-1000-0000-00006678443f"},"destination":{"id":"c0016328-bf4e-3f74-9bcb-821fbcb36a02","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"Events","comments":"","instanceIdentifier":"b8d8af2e-0190-1000-ffff-ffff8cde136d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"ae081858-9da3-3640-91f6-d7633c079e90","instanceIdentifier":"babe7d66-0190-1000-ffff-ffffb11722de","name":"","source":{"id":"c9435710-3f9b-328c-8de3-ab3fa931014b","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"MergeRecord","comments":"","instanceIdentifier":"babe4190-0190-1000-0000-00001c7346d5"},"destination":{"id":"ca3a3051-3bec-3dd3-882d-e49d9a010100","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"KillerParty","comments":"","instanceIdentifier":"babe6d55-0190-1000-0000-00000c3f51c8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"f6788b73-185c-3c4d-b245-98671f355888","instanceIdentifier":"baca9962-0190-1000-0000-0000750915f7","name":"","source":{"id":"6dd63839-b162-39a7-a459-2881f457bd3e","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"baca36ee-0190-1000-ffff-ffffa5f6724a"},"destination":{"id":"50424722-297d-3eda-bd58-7f9ecf2a66b3","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"MergeRecord","comments":"","instanceIdentifier":"7404346d-3830-1083-0000-00002c09a088"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"74ee21cd-6523-3f27-95f1-c22a86daafbd","instanceIdentifier":"b33bb573-0190-1000-ffff-ffffa2036613","name":"","source":{"id":"8c71762e-69fa-398c-8d35-e749a2c21cb1","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"UpdateAttribute","comments":"","instanceIdentifier":"b33515f7-0190-1000-0000-00006ba6e9e1"},"destination":{"id":"dfe06323-9f0b-3df8-b305-c1d124b5f409","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"InvokeHTTP","comments":"","instanceIdentifier":"b319a0a6-0190-1000-ffff-ffffa95e5b36"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"12f769ba-958f-38ff-9004-3373128b4172","instanceIdentifier":"babd9590-0190-1000-ffff-ffff91e955fa","name":"","source":{"id":"5816c644-ff59-3f19-bb6f-e386df3df362","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"babcde94-0190-1000-0000-00004e4b4dc5"},"destination":{"id":"c9435710-3f9b-328c-8de3-ab3fa931014b","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"MergeRecord","comments":"","instanceIdentifier":"babe4190-0190-1000-0000-00001c7346d5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"507ebb88-03a6-36bd-aa67-a3aecadc3f4a","instanceIdentifier":"ba82590d-0190-1000-0000-000051834826","name":"","source":{"id":"65f4f526-66cc-3e8d-9ab7-d77a87884ed5","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"UpdateRecord","comments":"","instanceIdentifier":"ba812897-0190-1000-ffff-ffffc3c49b66"},"destination":{"id":"f749178a-88fa-35c9-8571-dee114602d7f","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"MergeRecord","comments":"","instanceIdentifier":"ba856e84-0190-1000-0000-00006678443f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"3a02ff0f-84ad-3773-b7e6-df71229afcaa","instanceIdentifier":"b85c641b-0190-1000-ffff-ffff8b976bd0","name":"","source":{"id":"1609860c-39e3-3d77-9348-2265764566e4","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"SplitJson","comments":"","instanceIdentifier":"b85c0c88-0190-1000-0000-000021e770fc"},"destination":{"id":"32f53cb4-fb26-3b18-b384-e4185b5cadf9","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"b858ca9d-0190-1000-ffff-ffffe8ce305c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"d1110672-e613-3f8c-b085-00f653b8bc74","instanceIdentifier":"b3277f84-0190-1000-ffff-ffff99f3a681","name":"","source":{"id":"dfe06323-9f0b-3df8-b305-c1d124b5f409","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"InvokeHTTP","comments":"","instanceIdentifier":"b319a0a6-0190-1000-ffff-ffffa95e5b36"},"destination":{"id":"2daeb978-c0bd-3f7b-8d43-9d13f758ffb3","type":"FUNNEL","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"Funnel","comments":"","instanceIdentifier":"b3276ce7-0190-1000-ffff-ffffedeff40d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"0496e902-03df-3575-bc2e-1b5279828048","instanceIdentifier":"b31a9bb9-0190-1000-ffff-ffffe160f3e9","name":"","source":{"id":"dfe06323-9f0b-3df8-b305-c1d124b5f409","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"InvokeHTTP","comments":"","instanceIdentifier":"b319a0a6-0190-1000-ffff-ffffa95e5b36"},"destination":{"id":"042a43f8-f60d-3173-b98a-1574f4555273","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"b31a8246-0190-1000-ffff-ffffec0ab904"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"86f4ef46-7a09-3380-9e51-5ed3f923b7c0","instanceIdentifier":"b858e218-0190-1000-ffff-ffffe8852ddb","name":"","source":{"id":"dfe06323-9f0b-3df8-b305-c1d124b5f409","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"InvokeHTTP","comments":"","instanceIdentifier":"b319a0a6-0190-1000-ffff-ffffa95e5b36"},"destination":{"id":"1609860c-39e3-3d77-9348-2265764566e4","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"SplitJson","comments":"","instanceIdentifier":"b85c0c88-0190-1000-0000-000021e770fc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"c5c17549-e90e-3b0b-87d4-7308d197ae05","instanceIdentifier":"b31f8151-0190-1000-0000-00005817102b","name":"","source":{"id":"629b8b27-4f7a-3337-9244-3beae816a21e","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b31cee3f-0190-1000-0000-00005532f7ab"},"destination":{"id":"47d71a84-a57e-3bd3-8a14-1ee8d8fc2ac1","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b31e9671-0190-1000-ffff-ffff92716358"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"9fc42836-d391-36d0-8443-a97aa70a7987","instanceIdentifier":"baa4ff84-0190-1000-ffff-ffffda874484","name":"","source":{"id":"7fc19114-f8e4-34f8-bbd2-702d11f90d82","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"baa3eb56-0190-1000-0000-000031d96ee1"},"destination":{"id":"dfe06323-9f0b-3df8-b305-c1d124b5f409","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"InvokeHTTP","comments":"","instanceIdentifier":"b319a0a6-0190-1000-ffff-ffffa95e5b36"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"b88f8a37-3f17-36ee-ab68-e9f31b2d6136","instanceIdentifier":"b870fb22-0190-1000-0000-0000631eb506","name":"","source":{"id":"89012bda-69c3-322d-a6db-2aa4cf20a31c","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"Extract Killer Group","comments":"","instanceIdentifier":"b8623e7e-0190-1000-0000-0000296b121a"},"destination":{"id":"d99d7fde-3b40-3f53-9bf9-19a6c51e8626","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"SplitJson","comments":"","instanceIdentifier":"b8b1422a-0190-1000-ffff-ffffd4e45904"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"886d82f4-7353-313f-a9aa-3e7a2d5da959","instanceIdentifier":"bac9532d-0190-1000-0000-000078e49193","name":"","source":{"id":"4ab90ba2-c237-3dfb-84c0-6e55595bc30c","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"SplitJson","comments":"","instanceIdentifier":"bac8ca1d-0190-1000-0000-0000340edccb"},"destination":{"id":"6dd63839-b162-39a7-a459-2881f457bd3e","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"baca36ee-0190-1000-ffff-ffffa5f6724a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"aa085f6f-43c0-3f84-ac4d-6086ec3e6612","instanceIdentifier":"b863da6c-0190-1000-ffff-fffffc82e740","name":"","source":{"id":"32f53cb4-fb26-3b18-b384-e4185b5cadf9","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"b858ca9d-0190-1000-ffff-ffffe8ce305c"},"destination":{"id":"89012bda-69c3-322d-a6db-2aa4cf20a31c","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"Extract Killer Group","comments":"","instanceIdentifier":"b8623e7e-0190-1000-0000-0000296b121a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"ce7df3bf-19f6-3726-be03-834a48d6faab","instanceIdentifier":"b31d07a7-0190-1000-0000-00001b86a7f1","name":"","source":{"id":"042a43f8-f60d-3173-b98a-1574f4555273","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"b31a8246-0190-1000-ffff-ffffec0ab904"},"destination":{"id":"629b8b27-4f7a-3337-9244-3beae816a21e","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b31cee3f-0190-1000-0000-00005532f7ab"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"a6534da1-45bf-36b1-bd3b-c3e782a4aa4c","instanceIdentifier":"88073d1c-90e4-198d-ffff-ffffa7690f37","name":"","source":{"id":"50424722-297d-3eda-bd58-7f9ecf2a66b3","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"MergeRecord","comments":"","instanceIdentifier":"7404346d-3830-1083-0000-00002c09a088"},"destination":{"id":"ad4715f8-683e-3516-a9a1-ccefbf52a2cc","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"VictimParty","comments":"","instanceIdentifier":"88073d19-90e4-198d-aa45-69c6268b4a43"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"519b0cf2-ca0f-38c4-b329-bfab618dd838","instanceIdentifier":"b33249a4-0190-1000-0000-00002eb0807e","name":"","source":{"id":"47d71a84-a57e-3bd3-8a14-1ee8d8fc2ac1","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b31e9671-0190-1000-ffff-ffff92716358"},"destination":{"id":"8c71762e-69fa-398c-8d35-e749a2c21cb1","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"UpdateAttribute","comments":"","instanceIdentifier":"b33515f7-0190-1000-0000-00006ba6e9e1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["IF"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"cbd2a8f4-d99c-3106-8a30-29f9475c6715","instanceIdentifier":"b8b18aa5-0190-1000-ffff-ffffebe3475d","name":"","source":{"id":"d99d7fde-3b40-3f53-9bf9-19a6c51e8626","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"SplitJson","comments":"","instanceIdentifier":"b8b1422a-0190-1000-ffff-ffffd4e45904"},"destination":{"id":"5816c644-ff59-3f19-bb6f-e386df3df362","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"babcde94-0190-1000-0000-00004e4b4dc5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"c4f0c27b-939c-3961-9fbe-7fdf267660bb","instanceIdentifier":"b8afe56a-0190-1000-ffff-ffffd5ea2911","name":"","source":{"id":"bc948952-cec5-38d2-9d75-06289700ebc0","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"Extract Victim Group","comments":"","instanceIdentifier":"b8643513-0190-1000-0000-0000166a8896"},"destination":{"id":"4ab90ba2-c237-3dfb-84c0-6e55595bc30c","type":"PROCESSOR","groupId":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf","name":"SplitJson","comments":"","instanceIdentifier":"bac8ca1d-0190-1000-0000-0000340edccb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"}],"labels":[],"funnels":[{"identifier":"2daeb978-c0bd-3f7b-8d43-9d13f758ffb3","instanceIdentifier":"b3276ce7-0190-1000-ffff-ffffedeff40d","position":{"x":1312.0,"y":344.0},"componentType":"FUNNEL","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"}],"controllerServices":[{"identifier":"0d6c245e-e2c8-3a19-a560-7081552f12c0","instanceIdentifier":"33303b41-db9d-1cdf-0000-00007c309f9f","name":"Clickhouse.Albion","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.19.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.clickhouse.jdbc.ClickHouseDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"select now()","Database Connection URL":"jdbc:ch:http://192.168.88.123:8123/default?ssl=false","dbcp-time-between-eviction-runs":"-1","Database User":null,"kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"drivers/clickhouse-jdbc.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b3197a9a-0190-1000-ffff-ffffa45d6230"},{"identifier":"5d793993-0670-33c7-99e5-4e08c11f9c83","instanceIdentifier":"b8da3279-0190-1000-ffff-ffff8847903c","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.0"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":"\"yyyy-MM-dd'T'HH:mm:ssSSS'Z'\"","schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"70f6f9dd-a4ad-30e6-9844-e3814276f615","instanceIdentifier":"b863473a-0190-1000-0000-00004c838bae","name":"JsonPathReader","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.0"},"properties":{"Timestamp Format":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"},{"identifier":"759ee663-8f5a-3b56-8e94-5314ced4ede3","instanceIdentifier":"ba818fb3-0190-1000-ffff-ffff95c24092","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2b3d2a5f-0d22-392f-a6c2-2a2404957aaf"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":100000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}